body {
  background-color: hsl(229, 57%, 11%);
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  word-spacing: 1px;
  letter-spacing: 1px;
}

.bg-img {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  width: 100%;
}

.bg-mobile {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  width: 100%;
  display: none;
}

.storage {
  background-color: hsl(228, 56%, 26%);
  color: hsl(243, 100%, 93%);
  width: 40%;
  height: 10rem;
  border-radius: 10px;
  position: relative;
  left: 43rem;
  top: 20.2rem;
}

.str-title {
  padding: 30px;
  font-weight: 400;
}

span {
  color: hsl(243, 100%, 93%);
  font-weight: 700;
  font-size: medium;
}

.bar-point {
  background-color: hsl(243, 100%, 93%);
  height: 12px;
  width: 12px;
  border-radius: 50%;
  position: relative;
  left: 25rem;
  top: 1.5px;
}

@keyframes point {
  from {
    left: -0.5rem;
  }
  to {
    left: 25rem;
  }
}

.bar-point {
  animation-name: point;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.bar-flow {
  height: 15px;
  width: 83%;
  border-radius: 50px;
  position: relative;
  top: 4px;
  left: 4px;
  background-image: linear-gradient(
    to right,
    hsl(6, 100%, 80%),
    hsl(335, 100%, 65%)
  );
}

@keyframes flow {
  from {
    width: 0%;
  }
  to {
    width: 83%;
  }
}

.bar-flow {
  animation-name: flow;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.bar {
  height: 24px;
  width: 82%;
  background-color: hsl(229, 57%, 11%);
  position: relative;
  left: 3.5rem;
  border-radius: 50px;
}

.span {
  color: hsl(229, 57%, 11%);
  font-size: 2.5rem;
  padding-left: 8px;
}

.span-0 {
  color: hsl(229, 57%, 11%);
}

.span-1 {
  position: relative;
  bottom: 6rem;
  left: 3.7rem;
}

.span-2 {
  position: relative;
  bottom: 6rem;
  left: 27.2rem;
}

.triangle {
  width: 0;
  height: 0;
  border-top: 30px solid #ffffff;
  border-left: 30px solid transparent;
  position: relative;
  bottom: 9.5rem;
  left: 550px;
}

.gb {
  background-color: #ffffff;
  width: 25%;
  border-radius: 10px;
  color: hsl(229, 57%, 11%);
  font-weight: 400;
  padding: 10px;
  position: relative;
  bottom: 9rem;
  left: 25.5rem;
}

.icon {
  padding: 30px;
  background-color: hsl(228, 56%, 26%);
  width: 20%;
  border-radius: 10px 100px 10px 10px;
  position: relative;
  left: 18rem;
  top: 8rem;
}

.logo {
  margin-left: 15px;
}

.sub-icon {
  display: flex;
  margin-top: 20px;
}

.document,
.folder,
.upload {
  background-color: hsl(229, 57%, 11%);
  width: 50px;
  height: 50px;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
  padding: 1px;
}

.img-1 {
  position: relative;
  top: 12px;
}

.img-2 {
  position: relative;
  top: 14px;
}

.img-3 {
  position: relative;
  top: 16px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: relative;
  top: 23.5rem;
  color: hsl(6, 100%, 80%);
}
.attribution a {
  color: hsl(243, 100%, 93%);
  text-decoration: none;
}

/* --------------media queries------------- */

@media only screen and (max-width: 375px) {
  .bg-img {
    height: 46rem;
  }

  .icon {
    padding: 30px;
    background-color: hsl(228, 56%, 26%);
    width: 31%;
    border-radius: 10px 100px 10px 10px;
    position: relative;
    left: 15rem;
    top: -9.8rem;
    padding-left: 3rem;
  }

  .storage {
    background-color: hsl(228, 56%, 26%);
    color: hsl(243, 100%, 93%);
    width: 40%;
    height: 10rem;
    border-radius: 10px;
    position: relative;
    left: 15rem;
    top: 13.5rem;
  }

  .bar {
    height: 24px;
    width: 82%;
    background-color: hsl(229, 57%, 11%);
    position: relative;
    left: 1.5rem;
    border-radius: 50px;
  }

  .bar-point {
    background-color: hsl(243, 100%, 93%);
    height: 12px;
    width: 12px;
    border-radius: 50%;
    position: relative;
    top: 1.5px;
  }

  @keyframes point {
    from {
      left: -0.5rem;
    }
    to {
      left: 13.8rem;
    }
  }

  .triangle {
    display: none;
  }

  .gb {
    background-color: #ffffff;
    width: 45%;
    border-radius: 10px;
    color: hsl(229, 57%, 11%);
    font-weight: 400;
    padding: 10px 0 10px 5px;
    position: relative;
    bottom: -1.6rem;
    left: 5.5rem;
  }

  .span-0 {
    color: hsl(229, 57%, 11%);
    position: relative;
    bottom: 10px;
  }

  .span {
    position: relative;
    bottom: 3px;
    font-size: 1.8rem;
  }

  .span-1 {
    position: relative;
    bottom: 3.2rem;
    left: 1.5rem;
  }

  .span-2 {
    position: relative;
    bottom: 3.2rem;
    left: 11.5rem;
  }

  .attribution {
    position: relative;
    top: 3.6rem;
    left: 12.5rem;
    font-size: xx-small;
    width: 50%;
  }
}
